*{margin: 0;padding: 0;list-style: none;text-decoration: none;}
.wrap{width: 1100px;height: auto;margin: 0 auto;}
header{width: 1100px;height: auto;}
.logo{width: 1100px;height: 110px;text-align: center;line-height: 110px;font-size: 35px;color:white;background: #4f3df5; }
header > nav{float:left;width: 1100px;background: #d5c8e1;}
header > nav > ul > li{width: 150px;height: 30px;line-height: 30px;text-align: center;float: left;}
header > nav > ul > li > a{color:white;}
section{
	width: 1100px;height: 800px;background: #e9e9e9;
}
.section_tit{
width:1100px;text-align: center;font-size: 25px;font-weight: bold;height: 100px;line-height: 80px; float:left;
}
.com_p{margin-left: 8px;}
footer{text-align: center;background: #4f3df5;width: 1100px;height: 60px;line-height: 60px;color:white;}
.table_comm{margin: 0 auto;text-align: center;width: 900px;height: auto;}
.table_comm tbody tr{width:900px;height:24px ;}

#table_box{height:700px; float:left;}
